#flagContainer{
  display:flex;
  justify-content:center;
  align-items:center;
}
.flagItem{
  width:100;
}
#selectedFlag{
  width:100;
}

.countryContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#suggestionContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.suggestionHeader{
  font-size: 30;
}

.suggestionElement{
  font-size: 20;
}
