/*Adding background for the slides
* --------------------------------------- */
#slide0{
    background-image: url(../images/home/background.png);
    padding: 0 0 0 0;
}
#slide1{
    background-image: url(../images/about/background.png);
    background-size: cover;
    background-position: center;
    background-color: rgb(117, 197, 150);
    padding: 0 0 0 0;
}
#slide2{
    background-image: url(../images/bookFestival/background.png);
    background-size: cover;
    background-position: center;
    padding: 0 0 0 0;
}
#slide3{
  background-color: rgb(251, 242, 228);
  padding: 0 0 0 0;
}

.flexContainer{
    display: flex;
    height:100%;
}


#videoWrapper{
    flex:4;

    display:flex;
    justify-content:center;
    align-items:center;
}

#youtubeVideo{
    position:relative;
    left:0%;
    width:45%;
    height:100%;
    padding-right: 20px;
    padding-left: 20px;
}

#homepage-center{
  display: flex;

  flex-flow: column;

  justify-content: center;
  align-items: center;

  width:100%;
  height:100%;
}

#homepage-poster-container {

  display: flex;

  flex-flow: row;

  justify-content: stretch;
  align-items: stretch;
}

#homepage-poster-redblue-container {
  flex: 4;
}

#homepage-poster-redblue-image{
  width: 100%;
}

#homepage-poster-yellow-container {
  flex: 3;
}

#homepage-poster-yellow-image {
  width: 100%;
}

#aboutUsContainer{
  flex-flow:column;
  justify-content: center;
  align-items: center;
}

#aboutUsText{
  width:50%;

  text-align:center;
  color:white;
}


#picturesPageContainer{
    flex-flow: column;
    justify-content: flex-end;
    align-items: stretch;
}

#socialMediaContainer{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    height:100%;
}

.socialMediaItem{
  display:flex;
  justify-content: center;
  align-items: center;
  width:13%;
}
