
/*Adding background for the slides
* --------------------------------------- */
#landing{
  background-image: url(../images/landing/background.png);
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(255, 165, 22);
  padding: 0 0 0 0;
}

#about{
}
#mission{
  background-image: url(../images/mission/background.png);
  background-size: auto 100%;
  background-position: center;
  padding: 0 0 0 0;

}
#bookFestival{
  background-image: url(../images/bookFestival/background1.png);
  background-size: 100% auto;
  background-position: center;
  padding: 0 0 0 0;
}
#contact{
  background-color: rgb(251, 242, 227);
  padding: 0 0 0 0;
}

#landingContainer{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  height:100%;
  -ms-flex-flow:column;
      flex-flow:column;
  -webkit-box-pack:end;
      -ms-flex-pack:end;
          justify-content:flex-end;
  -webkit-box-align:stretch;
      -ms-flex-align:stretch;
          align-items:stretch;
}

#landingBottom{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-flow: row;
      flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.videoWrapper{
  position:relative;
  width: 80%;
  height:40%;
}

#youtubeVideo{
  position:relative;
  top:2%;
  left:0%;
  width:100%;
  height:100%;
}

.flexBoxContainer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height:100%;
}

#picturesPageContainer{
    -ms-flex-flow: column;
        flex-flow: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#socialMediaContainer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
        flex-flow: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height:100%;
}

.socialMediaItem{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
