
/*Adding background for the slides
* --------------------------------------- */
/*#landing{
  background-image: url(../images/landing/background.png);
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(255, 165, 22);
  padding: 0 0 0 0;
}*/

#about{
}
#mission{
  background-image: url(../images/mission/background.png);
  background-size: auto 100%;
  background-position: center;
  padding: 0 0 0 0;

}
#bookFestival{
  background-image: url(../images/bookFestival/background1.png);
  background-size: 100% auto;
  background-position: center;
  padding: 0 0 0 0;
}
#contact{
  background-color: rgb(251, 242, 227);
  padding: 0 0 0 0;
}

#frontPageBadgeAnchor{
    position: absolute;
    top:73%;
    width:calc(100% / 5);
}

#frontPageBadgeImage{
    position: absolute;
    width: 45%;
}

.videoWrapper{
  position:relative;
  width: 80%;
  height:40%;
}

#youtubeVideo{
  position:relative;
  top:2%;
  left:0%;
  width:100%;
  height:100%;
}

.flexBoxContainer{
    display: flex;
    height:100%;
}

#picturesPageContainer{
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
}

#socialMediaContainer{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    height:100%;
}

.socialMediaItem{
  display:flex;
  justify-content: center;
  align-items: center;
}
